*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --defaultTextColor:#333;
  --whiteTextColor:rgb(255, 255, 255);
  --logosecondaryColor: rgb(77, 77, 239);
  --webDefaultColor: rgb(255, 167, 3);
  --borderRadiusSmallButtons:4px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6rem;
  color: var(--defaultTextColor);
}

/* Styling Navbar */
.header{
  background-color: var(--webDefaultColor);
  color: var(--whiteTextColor);
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display:flex ;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo h1{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.logo span{
  color: var(--logosecondaryColor);
}

.navlinks{
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navlinks a{
  text-decoration: none;
  color: var(--whiteTextColor);
  padding: 0.5rem 1rem;
  border-radius: var(--borderRadiusSmallButtons);
  transition: background-color 0.3s ease;
}

.navlinks a:hover{
  background-color: rgb(230, 192, 123);
}

.righticons{
  display: flex;
  gap: 2rem;
}

.righticons img{
  width: 30px;
  transition: transform 0.1s ease-in-out;
}

.righticons img:hover{
  transform: scale(1.2);
}

.righticons input{
  border-radius: var(--borderRadiusSmallButtons);
}

/* Styling Hero Section */
.home{
  height: 60vh;
  margin-top: 150px;
}

.hero{
  display: flex;
}

.hero-text{
  width: 40%;
}

.hero-text img{
  width: 120px;
}

.hero-text h2{
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  line-height: 1;
  letter-spacing: 2px;
}

.hero-text h2 span{
  color: var(--webDefaultColor);
}

.hero-text p{
  margin-bottom: 2rem;
  max-width: 500px;
}

.btn{
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 24px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-primary{
  background-color: #3f3e44;
  color: var(--whiteTextColor);
}

.btn:hover{
  background-color: var(--webDefaultColor);
}

.hero-image{
  width: 60%;
  margin-top: 30px;
  transform: rotate(20deg);
  display: flex;
}

.hero-image img{
  width: 80%;
}

.services{
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: var(--webDefaultColor);
  padding: 1.2rem;
  margin-bottom: 3rem;
}

.service{
  display: flex;
  gap: 1.1rem;
  color: var(--whiteTextColor);  
  transition: transform 0.3s ease-in-out;
}

.service:hover{
  transform: scale(1.2);
}

.service img{
  width: 40px;
  height: 40px;
}

/* Styling Menu Section */
.menu{
  height: 100vh;
}

.pageLocation{
  margin-left: 4rem;
  font-size: small;
  color: #6c6b6b
}

.imageDiv{
  margin: 3rem;
  width: 60%;
}

.imageDiv img{
  width: 600px;
}

.detailsDiv{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.detailsDiv h2{
  font-weight: bold;
  width: 350px;
}

.detailsDiv p{
  font-size: small;
  color: #6c6b6b;
  line-height: 1rem;
}

.price-discount{
  display: flex;
  justify-content: baseline;
  gap: 2rem;
}

.price-discount h2{
  width: fit-content;
  background-color: #e4e3e3;
  padding: 0.2rem 0.5rem;
  border-radius: var(--borderRadiusSmallButtons);
  color: var(--logosecondaryColor);
}

.discount h3{
  color: rgb(146, 227, 25);
}

.addToCart select{
  width: 40px;
  height: 40px;
  background-color: #e4e3e3;
  border: none;
  border-radius: var(--borderRadiusSmallButtons);
  padding: 0.2rem;
}

.btn-secondary{
  background-color: var(--webDefaultColor);
  color: var(--whiteTextColor);
  border-radius: 10px;
  margin: 10px;
  transition: all 0.3s ease;
}

.btn-secondary:hover{
  background-color: var(--defaultTextColor);
}

.slides {
  display: flex;
  gap: 40px;
  padding: 1.2rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.slide {
  height: 100px;
  width: 150px; 
  border-radius: 8px;
}

/* Styling Cart Section */
.cart-section{
  height: 100vh;
  margin-top: 3rem;
}

.cart-section h2{
  font-size: 2rem;
  font-weight: bolder;
  margin-left: 4rem;
  margin-bottom: 2rem;
}

.cart-container , .payment-container{
  display: flex;
  justify-content: space-around;
}

.cart-table-div th{
  color:#6c6b6b
}

.cart-table-div table , .cart-price-div table{
  width: 100%;
  border-collapse: collapse;
}

.cart-table-div th {
  text-align: left;
  padding: 15px 20px;
  border-bottom: 2px solid #ccc;
}
.cart-table-div td {
  padding: 15px 20px; 
}

.cart-price-div th label{
  display: block;
}

.cart-price-div th input{
  padding: 0.7rem;
  border-radius: var(--borderRadiusSmallButtons);
  border: 1px solid gray;
}

.cart-price-div input ::placeholder{
  color: #6c6b6b;
  font-size: 1.2rem;
  font-weight: 400;
}

.btn-tertiary{
  background-color: rgb(4, 105, 199);
  color: var(--whiteTextColor);
  border-radius: var(--borderRadiusSmallButtons);
}

.cart-price-div th{
  padding: 15px 20px;
}

.cart-price-div tr :nth-child(1){
  text-align: left;
}

.cart-price-div tr :nth-child(2){
  text-align: right;
  padding: 7px 20px;
}

.cart-list{
  color: #6c6b6b;
  font-weight: bold;
}

.total{
  color: black;
  font-weight: bolder;
}

.cart-price-table{
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
}

.sponsors img{
  width: 100px;
}

.sponsors{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.cart-price-payment{
  width: 500px;
  margin-top: 2rem;
}

.continue-shopping{
  text-decoration: none;
  color: var(--defaultTextColor);
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 3rem;
}

/* Styling Payemnet Optiions */
.payment-options{
  display: flex;
  flex-direction: column;
}

.payment-section h3{
  color: #6c6b6b;
  margin: 1.2rem;
}

.payment-options label{
  font-size: 0.9rem;
  font-weight: bold;
}

.payment-options input{
  background-color: #ccc;
  border-radius: var(--borderRadiusSmallButtons);
  padding: 0.7rem;
  border: 1px solid gray;
}

.payment-options h2{
  margin: 20px 0;
}

.payment-type{
  display: flex;
  justify-content: space-between;
}

.payment-box{
  border: 1px solid gray;
  border-radius: var(--borderRadiusSmallButtons);
  width: 100px;
  padding: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.payment-type :nth-last-child(1){
  display: flex;
  justify-content:center ;
  width: 50px;
  align-items: center;
}
.payment-type :nth-last-child(1) img{
  width: 30px;
  height: 25px;
}

.payment-box:hover{
  background-color: var(--webDefaultColor);
}

.payment-box img{
  width: 35px;
  margin: 10px;
}

.payment label, .payment input{
  display: block;
}

.payment table input{
  width: 100%;
}

.payment-section{
  margin-bottom: 2rem;
}